[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/Roynas-Android-Playground/kernel_packaging_anykernel3
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next
